body{
  padding-top: 70px;
}

.row{
  height: 768px;
}

.my-quote{
  margin-top: 5em;
}

/* It gets all p elements inside .my-quote*/
.my-quote > p{
  font-family: "Lora", serif;
  font-size: 3em;
  color: #aaa;
}
/* It gets all footer elements inside .my-quote*/
.my-quote > footer{
  font-size: 1em;
  color: #bbb;
}

/* each sections of page */
#about-me{
 padding-top: 6em; 
}

#contact-me{
  padding-top: 6em;
}

address {
  font-size: 1.5em;
}