html,
body {
  height: 100%;
  background: url("http://i64.tinypic.com/2b89bl.png") no-repeat fixed center;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 18px;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    margin-right: 10%;
}

a {
    transition: color 0.5s;
}

.navbar > li > a {
    color: white;
}

.nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
}

.navbar > .container {
    padding: 20px 17%;
} 

a:hover {
    text-decoration: none;
    color: #333;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    margin: 20px 0;
    color: #bbb;
}